<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script scr="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as nidc">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group input-container">
      <input type="text" placeholder="search term" class="form-control" ng-model="nidc.searchTerm">
       <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="nidc.getItems();">Narrow It Down For Me!</button>
      </div>
    </div>
   

    <!-- found-items should be implemented as a component -->
    <found-items  f-items="nidc.found" on-remove="nidc.onRemove(index)">
      <div class="result" ng-if="!nidc.found.length">{{nidc.noResponse}}</div>
    </found-items>
  </div>

</body>
</html>
