<div class="table-wrapper">
	<span class="result" ng-if="menu.fItems.length">RESULT</span>
	<div class="box" ng-if="menu.fItems.length">
		<table class="f1-table">
			<thead>
				<tr>
					<th>
						S.No
					</th>
					<th>
						Name
					</th>
					<th>
						Short-Name
					</th>
					<th>
						Description
					</th>
					</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in menu.fItems" class="trow">
				<td>
					{{$index + 1}}
				</td>
				<td>
					{{item.name}}
				</td>
				<td>
					{{item.short_name}}
				</td>
				<td>
					{{item.description}}
				</td>
				<td>
					<button class="btn btn-primary" ng-click="menu.onRemove({index: $index})">
						Don't want this one!
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div ng-transclude></div>
</div>
