<span class="heading" style="font-size: 30px; margin-left: 46%">
	Menu items
</span>
<div style="text-align: center;">
	<ul style="list-style-type: none">
		<li class="items" ng-repeat="item in $ctrl.items">
			<span style="font-size: 25px; font-family: 'Comic Sans MS', cursive, sans-serif;color: #04414a">
				{{item.name}}
			</span>
			<br>
			<span style="font-size: 15px; font-family: 'Trebuchet MS', Helvetica, sans-serif;color: #2d314a">
				{{item.description}}
			</span>
		</li>
	</ul>
</div>